<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_UserName" translate="label" sortOrder="10">
            <label>Amasty Beautiful Module</label>
        </tab>
        <section id="beautiful_config" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Beautiful Module Config</label>
            <tab>Amasty_UserName</tab>
            <resource>Amasty_UserName::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="greeting_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hello Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="is_visible_qty" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visible Qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty_value" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qty Value</label>
                    <depends>
                        <field id="is_visible_qty">1</field>
                    </depends>
                </field>
                <field id="is_visible_name" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visible Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
